@charset "UTF-8";

/* Resetando todas as configuracões  zerando tudo*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Colocando a Altura e Largura Total*/
html, body{
    height: 100vh;
    width: 100vw; 
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;/*para abrir a imagem*/
    background-attachment: fixed;/*para fixar na tela*/
}

main{
    position: relative;/*para cetralização*/
    height: 100vh;

}

section#telefone{
    position: absolute;/*para cetralização*/
    top: 50%;/*para cetralização*/
    left: 50%;/*para cetralização*/
    transform: translate(-50%, -50%);/*para cetralização*/

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

section#redes-sociais{
    text-align: right;

}

section#redes-sociais > a > img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 400);
    box-sizing: border-box;
}

section#redes-sociais > a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.603);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.623);
    transition: transform .3s, border 1s ;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 266px;
    height: 471px;
}